:root {

    // Colors
    --nav: rgb(217, 0, 255)rgb(94, 0, 89);
    --black: black;
    --white: rgb(0 0 0 / 82%);

    // Font-size
    --xl: 20px;
    --lg: 18px;
    --base: 16px;
    --sm: 14px;
    --sx: 12px

    // Gap
    --gap-xs: 4px;
    --gap-sxx: 8px;
    --gap-sx: 12px;
    --gap-sm: 14px;
    --gap-base: 16px;
    --gap-lg: 18px;
    --gap-xl: 22px;
    --gap-xxl: 34px;
    --gap-xxxl: 40px;
}