.component {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: var(--gap-base);
    color: var(--white);
}

.link {
    color: black;

    &:hover {
        color: var(--nav);
    }
}